@{
    ViewBag.Title = "Home Page";
}

<div class="container-info">
    <h3>Barge Survey Manager</h3>
    <img src="~/Content/images/barge_loaded.png" alt="Icon of a loaded barge" style="padding-top:15px; " />
    <p class="lead" style="padding-left:20px;">BargeData.com built Survey Manager to track barge surveys and track samples for customer who need to verify barge loads for their customer.</p><br />
    <img src="~/Content/images/cell_phone.png" alt="Cell Phone Image" style="padding-right:20px;" />
    <p class="lead">Once a surey is added field technicains can text message Survey Manager and Survey Manager will will assocaite the given readings to a barge sample.</p>
</div>

<div class="row tools">
    <div class="col-md-4">
        <h2>Surveys</h2>
        <p class="surveys-path">
            Manage Current Surveys
            <ul>
                <li>Add new Surveys</li>
                <li>Edit current Surveys</li>
                <li>Close out surveys</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="~/ListSurveys.html">Surveys... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Samples</h2>f
        <p class="surveys-path">
            Manage Barge Samples
            <ul>
                <li>Add new Sample</li>
                <li>Edit current Sample</li>
                <li>Link Samples to Surveys</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="#"></a></p>
</div>