@model bool

<div class="containing-element">
    <label for="flip-min">Flip switch:</label>
    <select name="flip-min" id="flip-min" data-role="slider">
        <option value="off">Switch Off</option>
        <option value="on">Switch On</option>
    </select>
</div>
